@import '../../../scss/bootstrap/scss/functions';
@import '../../../scss/bootstrap/scss/variables';
@import '../../../scss/custom';
@import '../../../scss/bootstrap/scss/mixins/breakpoints';
@import '../../../scss/bootstrap/scss/mixins/text-truncate';
@import '../../../scss/bootstrap/scss/mixins/text-emphasis';
@import '../../../scss/bootstrap/scss/mixins/hover';
@import '../../../scss/bootstrap/scss/mixins/text-hide';
@import '../../../scss/bootstrap/scss/utilities/text';

.notification-alert {

    left: 50%;
    margin-left: -28rem;
    position: fixed;
    text-align: center;
    top: 7rem;
    width: 56rem;
    z-index: 9999;
}

.svg-category {

    &+& {
        padding-top: 1rem;
        border-top: .2rem solid $silver-mercury;
    }

    margin-bottom: 5rem;

    .category-header {

        margin: 1.5rem 0;
        text-transform: uppercase;
    }

    .icon-showcase {

        align-items: center;
        background: rgba(100, 100, 100, 0.05);
        border: .1rem solid $white;
        display: flex;
        flex-flow: column;
        padding: 1.5rem;


        /deep/
        .icon-item {
            .icon {
                height: 5rem;
                width: 11rem;
            }
        }

        &:hover {

            background: $silver-mercury;
            cursor: pointer;

            /deep/
            .icon-item {
                .icon {
                    fill: $brand-primary;
                }
            }
         }

    }
}