<div id="top" class="container">
  <div class="jumbotron">
    <h1 class="display-3">Directives</h1>
    <p class="lead">Directives.</p>
    <hr class="my-4">
    <p>
      <a [routerLink]="['circles-loader']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="link">CirclesLoader</a> |
      <a [routerLink]="['btl-svg']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="link">BtlSvg</a>
    </p>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
