@import '../../../../scss/bootstrap/scss/functions';
@import '../../../../scss/bootstrap/scss/variables';
@import '../../../../scss/custom';

@import '../../../../scss/bootstrap/scss/mixins';
@import '../../../../scss/bootstrap/scss/tables';

// Checkbox
@import '../../../../scss/components/check-box';

// Radio
@import '../../../../scss/components/radio-input';

//Form
@import '../../../../scss/components/form';


.section-radio {

    .form-group {
        margin: 0;
    }
}

.section-button-group {

    .form-container {
        margin: 0;
    }

    .form-group {

        margin: 0;
        width: 50%;
    }
}