@import '../../../scss/bootstrap/scss/functions';
@import '../../../scss/bootstrap/scss/variables';
@import '../../../scss/custom';

.title-wrapper {

    background-color: $brand-secondary;
    align-items:center;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    height: 5rem;
    overflow: hidden;
    padding: 0.5rem 0 .5rem 3rem;

    .title {

        color: $white;
        font-size: 2rem;
        margin-bottom: 0;
        margin-left: 2rem;
    }
}
