.breadcrumb {

    .mb-breadcrumbs,
    .breadcrumb-arrow {

        align-items: center;
        display: flex;
        flex-flow: row nowrap;
    }

    .mb-breadcrumbs {

        display: inline-flex;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
        // width: 100%;

        .breadcrumb-arrow {

            margin-right: 1.5rem;

            /deep/ .icon {

                fill: currentColor;
                height: 2.2rem;
                width: 2.5rem;
            }
        }
    }

    .breadcrumb-step {

        color: $brand-secondary;
        cursor: pointer;
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
