@import '../custom';
@import '../bootstrap/scss/variables';

$on: $brand-info;
$bg: $text-color;
$text: #2A2C2B;
$off: $white;
$width: 50px;
$height: 30px;

@mixin checkbox-toggle($on, $off) {

    align-items: center;

    input[type="checkbox"] {
        
        display: none;

        &:checked + label {

            border-color: $on;
            background: $on;

            &::before {
                left: auto;
                right: 0;
            }

        }

    }

    label {

        background: $off;
        border: 1px solid $gallery-gray;
        border-radius: $height / 2;
        cursor: pointer;
        display: block;
        height: $height;
        margin: 0;
        position: relative;
        transition: all .2s ease-in-out;
        width: $width;

        &::before {
            background: $white;
            border-radius: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            content: "";
            height: $height - 2;
            left: 0;
            position: absolute;
            transition: all .2s ease-in-out;
            width: $height - 2;
        }

    }

}