<div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Formulaire DAD</h1>
      <p class="lead">Recréer le formulaire DAD de Bouygues Télécom. <a href="https://www.bouyguestelecom.fr/dad/" class="link" target="_blank">Voir ici.</a></p>
      <hr class="my-4">
      <p><strong>Compétences :</strong></p>
      <ul>
        <li>Intégration de formulaire en BS4 <span class="badge badge-primary">INTE</span></li>
        <li>Surcharge de BS4 (Brand Bytel) <span class="badge badge-primary">INTE</span></li>
        <li>Initiation à FormBuilder <span class="badge badge-secondary">DEV</span></li>
        <li>Validation de formulaire (patterns, required, submit) <span class="badge badge-secondary">DEV</span></li>
        <li>Inclusion de templates externes (Simulation d'affichage de bloc CMS) <span class="badge badge-secondary">DEV</span></li>
      </ul>
    </div>
</div>

<!--<form class="dad-form" (ngSubmit)="submitForm()" [formGroup]="formTest">
    <section class="container box">
        <div class="row">
            <div class="form-group">
                <input class="form-control" formControlName="testfixe" type="text" placeholder="tel fixe" minlength="10" maxlength="10" [required]="!testmobile.valid">
            </div>

            <div class="form-group">
                <input class="form-control" formControlName="testmobile" type="text" placeholder="tel mobile" minlength="10" maxlength="10" [required]="!testfixe.valid">
            </div>
        </div>
        <pre>{{formTest.status}}</pre>
        <pre>{{formTest.value | json}}</pre>
        <div>
            <button type="submit" [disabled]="formTest.invalid">Valider</button>
        </div>
    </section>
</form>
<pre>{{formData.value | json}}</pre>-->


<form class="dad-form" (ngSubmit)="submitForm()" [formGroup]="formData">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <h1 class="title-form">Passer à la fibre Bouygues Telecom</h1>
            </div>
        </div>
    </div>

    <!-- CONTRAT -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Contrat</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de contrat</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" formControlName="contract_id" type="text" placeholder="Numéro de contrat" minlength="13" maxlength="13">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <select class="form-control" formControlName="company_name">
                            <option *ngFor="let company of companies" [ngValue]="company.value">{{company.label}}</option>
                        </select>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Identifiant vendeur</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" formControlName="seller_id" type="text" placeholder="Identifiant vendeur">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Date de naissance (JJ/MM/AAAA)</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" formControlName="contract_signed_at" type="text" placeholder="Date de signature du contrat (JJ/MM/AAAA)" minlength="10" maxlength="10">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CORDONNEES -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Cordonnées</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 mb-3 mb-lg-0 btn-group-dad">
                        <div class="row pl-3 pr-3" data-toggle="buttons">
                            <label class="col-12 col-md mb-0 btn btn-info reversed" for="newCustomer">
                                <input type="radio" formControlName="type_client" value="new_customer" id="newCustomer">
                                Nouveau client fixe
                            </label>

                            <label class="col-12 col-md mb-0 btn btn-info reversed" for="alreadyCustomer" (click)="rbChange('type_client','already_customer')">
                                <input type="radio" formControlName="type_client" value="already_customer" id="alreadyCustomer">
                                Déjà client fixe
                            </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 mb-3 btn-group-dad">
                        <div class="row pl-3 pr-3" data-toggle="buttons">
                            <label class="col-12 col-md mb-0 btn btn-info reversed" for="prefix_m" (click)="rbChange('prefix','M')">
                                <input type="radio" formControlName="prefix" value="M" id="prefix_m">
                                Monsieur
                            </label>

                            <label class="col-12 col-md mb-0 btn btn-info reversed" for="prefix_mme" (click)="rbChange('prefix','MME')">
                                <input type="radio" formControlName="prefix" value="MME"  id="prefix_mme">
                                Madame
                            </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 form-group has-success">
                        <label class="sr-only">Nom</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Nom" formControlName="lastname">
                        </span>

                        <!-- error -->
                        <ul class="errors d-none">
                            <li class="help-block">
                                Ce champ est requis
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-9 form-group has-error">
                        <label class="sr-only">Prénom</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Prénom" formControlName="firstname">
                        </span>

                        <!-- error -->
                        <ul class="errors">
                            <li class="help-block">
                                Ce champ est requis
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Date de naissance (JJ/MM/AAAA)</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Date de naissance (JJ/MM/AAAA)" formControlName="birth_date" minlength="10" maxlength="10">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Département de naissance</label>
                        <select class="form-control" formControlName="birth_department">
                            <option *ngFor="let dep of departments" [ngValue]="dep.value">{{dep.label}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Téléphone mobile</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Téléphone mobile" formControlName="mobile" minlength="10" maxlength="10" [required]="!fixe.valid">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Téléphone fixe</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Téléphone fixe" formControlName="fixe" id="fixe" minlength="10" maxlength="10" [required]="!mobile.valid">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Email de contact</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="email" placeholder="Email de contact" formControlName="email">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Pièce d'identité de l'acheteur</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Pièce d'identité de l'acheteur" formControlName="identity_document">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de la pièce d'identité</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Numéro de la pièce d'identité" formControlName="identity_document_number">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NUMERO DE TELEPHONE -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Numéro de téléphone</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9">
                        <div class="row pl-3 pr-3 form-group">
                            <label class="col-12 col-md btn btn-info reversed" for="keep_true">
                                <input type="radio" formControlName="keep" [value]="true" id="keep_true" autocomplete="off">
                                Conserver mon numéro
                            </label>

                            <label class="col-12 col-md btn btn-info reversed" for="keep_false">
                                <input type="radio" formControlName="keep" [value]="false" id="keep_false" autocomplete="off">
                                Obtenir un nouveau numéro
                            </label>
                        </div>

                        <div class="row pl-3 pr-3">
                            <div class="col-12 form-group" *ngIf="formData.value.keep">
                                <label class="sr-only">Numéro à conserver</label>
                                <input class="form-control" type="text" placeholder="Numéro à conserver" formControlName="keep_number" minlength="10" maxlength="10" [required]="formData.value.keep">
                            </div>

                            <div class="col-12 form-group">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" formControlName="annuaire_universel" id="annuaire_universel">
                                    Inscription à l'Annuaire Universel Fixe
                                </label>
                            </div>
                            <div class="col-12 ml-3" *ngIf="formData.value.annuaire_universel">

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" formControlName="anti_prospection" id="anti_prospection">
                                        Anti-prospection
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" formControlName="sans_adresse_complete" id="sans_adresse_complete">
                                        Sans adresse complète
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" formControlName="sans_prenom_complet" id="sans_prenom_complet">
                                        Sans prénom complet
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" formControlName="anti_annuaire_inverse" id="anti_annuaire_inverse">
                                        Anti-Annuaire inversé
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 form-group">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" formControlName="controle_parental" id="controle_parental">
                                    Activation contrôle parental
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ADRESSE D'INSTALLATION -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Adresse d'installation</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Adresse (Numéro + voie)</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Adresse (Numéro + voie)" formControlName="address">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <div class="row">
                            <div class="col-12 col-lg mb-3 mb-lg-0">
                                <label class="sr-only">Batiment</label>
                                <span class="form-control-wrapper">
                                    <input class="form-control" type="text" placeholder="Batiment" formControlName="building">
                                </span>
                            </div>

                            <div class="col-12 col-lg mb-3 mb-lg-0">
                                <label class="sr-only">Etage</label>
                                <span class="form-control-wrapper">
                                    <input class="form-control" type="text" placeholder="Etage" formControlName="stage">
                                </span>
                            </div>

                            <div class="col-12 col-lg">
                                <label class="sr-only">Escalier</label>
                                <span class="form-control-wrapper">
                                    <input class="form-control" type="text" placeholder="Escalier" formControlName="stairs">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Ville</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Ville" formControlName="city">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Code postal</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Code postal" formControlName="postal_code" minlength="5" maxlength="5">
                        </span>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de prise PTO (Prise de termination optique)</label>
                        <span class="form-control-wrapper">
                            <input class="form-control" type="text" placeholder="Numéro de prise PTO (Prise de termination optique)" formControlName="pto">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SELECTION UNE BBOX -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header align-items-center pb-4 pb-md-0">
                    <div class="col-12 col-md-auto">
                        <h2 class="box-title">Sélectionner une offre Bbox :</h2>
                    </div>

                    <div class="col-auto ml-auto ml-md-0">
                        <input class="fake-radio-input" type="radio" id="miami" formControlName="offer" value="miami"/>
                        <span class="fake-radio"></span>
                        <label class="mb-0 pl-2" for="miami">Miami</label>
                    </div>

                    <div class="col-auto mr-auto">
                        <input class="fake-radio-input" type="radio" id="miami_plus" formControlName="offer" value="miami_plus"/>
                        <span class="fake-radio"></span>
                        <label class="mb-0 pl-2" for="miami_plus">Miami+</label>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12">
                        Block CMS 1
                    </div>

                    <div class="col-12">
                        Block CMS 2
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- MOYEN DE PAIEMENT -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Moyen de paiement</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <input class="fake-radio-input" type="radio" id="prelevement" formControlName="payment_method" value="prelevement"/>
                        <span class="fake-radio"></span>
                        <label class="pl-2" for="prelevement">Prélèvement</label>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <input class="fake-radio-input" type="radio" id="mandat" formControlName="payment_method" value="mandat"/>
                        <span class="fake-radio"></span>
                        <label class="pl-2" for="mandat">Mandat à compte (à remettre)</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- VALIDER -->
    <section class="container submit-dad">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-center">
                <div class="row justify-content-center">
                    <button class="col-5 btn btn-primary transparent btn-lg mt-2 mb-4" type="submit">
                        <span>Valider</span>
                    </button>
                </div>

                <p class="text">En validant, vous ne serez plus en mesure de modifier votre demande.</p>
            </div>
        </div>
    </section>
</form>

