@import '../../scss/bootstrap/scss/variables';
@import '../../scss/custom';
@import '../mixins/text-overflow';

.ribbon-banner-block {

	align-items: flex-start;
	display: inline-flex;
	flex-flow: row nowrap;
	margin-top: 2.5rem;
	max-width: 95%;

	// Specific @TODO: Make this work without absolute positioning and turn it to a global component
	// position: absolute;
	// left: 0;
	// top: 10px;

	// Theming: @TODO: dyn with a map
	&.primary {

		.label-text {
			background-color: $brand-primary;
		}
	}

	&.secondary {

		.label-text {
			background-color: $brand-secondary;
		}
	}

	&.primary,
	&.secondary {



		.label-text {

			@include text-overflow();
			color: $white;
			flex: 1 0 auto;
			font-size: 1.4rem;
			font-weight: bold; // Specific ?
			padding: 0.2rem 0.5rem 0.3rem 1rem;
			text-transform: uppercase;
			width: calc(100% - 2.4rem);
		}

		.icon-item {

			flex: 0 auto;
			height: 2.5rem;
			width: 2.4rem;

			/deep/ .icon {

				height: 100%;
				transform: scale(1.45);
				width: 100%;
			}

            /deep/ .icon-fanion-secondary-end {

                height: 2.5rem;
                width: 1.9rem;
            }
        }
	}
}