@import '../bootstrap/scss/mixins/grid';
@import '../bootstrap/scss/utilities/screenreaders';

//[1] All wrapped within form-container to avoid any conflict
//[2] States (Error/Success) and feedback messages, we choose angular generated classes,
// error state looks untouched but this is the desired result

//[1]
/deep/ .form-container {

    @include make-row();

    margin: 5.5rem 0;

    .elig-form {
        @include make-col(12);
    }

    .form-feedback-icon,
    .form-group {
        position: relative;
    }

    .form-control {

        background: $concrete-gray;
        text-transform: uppercase;

        &:focus {

            border-color: darken($concrete-gray, 10%);
            box-shadow: none;
        }

        &::placeholder {

            color: lighten($silver-chalice, 25%);
            text-transform: none;
        }

        //[2]
        &.ng-invalid.ng-touched {

            background: $concrete-gray;

            ~ .invalid-feedback {
                display: block;
            }

            // Hide explanation message if there is error
            ~ .text-muted {
                display: none;
            }
        }

    }

    .form-control {
        color: $silver-chalice;
    }

    .field-info,
    .invalid-feedback {
        font-size: 1.2rem;
    }

    .invalid-feedback {
        color: $brand-warning;
    }

    .input-info {

        display: inline-block;
        margin-top: 1rem;
    }
}
