<div id="top" class="container">
  <div class="jumbotron">
    <h1 class="display-3">Pipes</h1>
    <p class="lead">Pipes.</p>
    <hr class="my-4">
    <p>
      <a [routerLink]="['currency']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="link">Currency</a> |
      <a [routerLink]="['btl-svg']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="link">BtlSvg</a>
    </p>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
