<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Rappelez-moi</h1>
        <p class="lead">Recréer la page rappelez-moi <a href="http://local.bouyguestelecom.fr/rappelez-moi" class="link" target="_blank">Voir ici.</a></p>
        <hr class="my-4">
    </div>
</div>


<div class="container webcallback">
    <div class="row">

        <!-- Advice -->
        <div class="col-12 col-lg-7 mb-4 mb-lg-0 advice">
            <div class="advice-offer">
                <i class="icon-item d-none d-lg-block">
                    <span btlSvg file="common-defs" name="shape-icon-rounded-advisor" class="icon s-rounded-advisor"></span>
                </i>

                <h2 class="title-callback">Un conseil <br class="d-md-none">sur l'une de nos offres ?</h2>

                <div>
                    <p class="free-call">Laissez-nous votre numéro de téléphone</p>
                    <!-- Form -->
                     <form class="form-inline form-call-me c2call" method="post" role="form" name="">

                         <div class="form-group">
                             <label class="sr-only">Ex : 06 23 45 67 89</label>
                             <span class="form-control-wrapper">
                                <input class="form-control" type="text" name="phone" placeholder="Ex : 06 23 45 67 89" maxlength="10" >
                             </span>
                         </div>

                         <button type="submit" class="btn btn-primary btn-callback">Rappelez-moi</button>

                         <ul class="errors">
                             <li class="help-block">
                                 Oups... Ce numéro ne semble pas correct. Vérifiez-le bien et essayer à nouveau.
                             </li>
                         </ul>
                    </form>
                </div>
            </div>
        </div>


        <!-- Need -->
        <div class="col-12 col-lg-5">
            <div class="need-assistance">
                <h2 class="assistance-title">Besoin d'assistance</h2>
                <h3 class="assistance-subtitle">Pour une commande mobile en cours</h3>
                <p class="mb-0">Composer le <span class="call-me"><a href="tel:+33981662666" class="call-me">09 81 66 26 66</a></span></p>

                <hr class="separator">

                <h3 class="assistance-subtitle">Pour une ligne mobile <br/> ou Bbox déjà activée ?</h3>
                <p class="mb-0">Composer le <br/><span class="call-me"><a href="tel:+33614" class="call-me">614</a> depuis votre mobile</span></p>
                <p class="mb-0">ou <br/><span class="call-me">1064 depuis un poste fixe</span></p>
            </div>
        </div>
    </div>
</div>