/**
 // Align element on a circle path

 [1] - Allows children to be absolutely positioned
 [2] - Allows the mixin to be used on a list by reseting styles
 [3] - In case box-sizing: border-box has been enabled
 [4] - Allows any type of direct children to be targeted

**/

@mixin alignOnCirclePath(
    $nb-items,
    $parent-width,
    $item-size
) {

    $half-item: $item-size / 2;
    $half-parent: $parent-width / 2;

    border-radius: 50%;
    box-sizing: content-box; // [3]
    display: inline-block;
    height: $parent-width;
    list-style: none; // [2]
    padding: 0;
    position: relative; // [1]
    width: $parent-width;

    > * { //[4]

        display: block;
        height: $item-size;
        left: 50%;
        margin: -$half-item;
        position: absolute;
        top: 50%;
        width: $item-size;

        $angle: 360 / $nb-items;
        $rot: 0;
        @for $i from 1 to $nb-items+1 {

            &:nth-of-type(#{$i}) {
                // rotate is used twice to reset the element position: see this for more info http://dabblet.com/gist/3866686
                transform: rotate(#{$rot}deg) translate($half-parent) rotate(-#{$rot}deg) scale(1);
            }

            $rot: $rot + $angle;
        }
    }

}
