@import '../custom';

@each $color, $background in $theme-colors {

    .btn-#{$color} {

        transition: all 0.3s ease-in-out;

        &.btn-trs {
            background-color: transparent;
        }

        &.contrast {
            color: $background;
            background-color: transparent;
            border-color: $background;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {

            background-color: $color;
            color: $background;

            &.normal {
                color: $color;
                background-color: darken($background, 5%);
            }

            &.btn-default {
                color: $white;
                background-color: $silver-chalice;
                border-color: $white;
            }

            &.btn-primary {
                color: $brand-primary;
                background-color: $white;
                border-color: $brand-primary;
            }

            &.btn-secondary {
                color: $white;
                background-color: $silver-chalice;
                border-color: $silver-chalice;
            }

            &.no-hover {
                color: $color;
                background-color: $background;
                border-color: $color;
            }

            &.btn-outline {
                color: $silver-chalice;
            }

        }

        &:not([disabled]):not(.disabled):active,
        &:not([disabled]):not(.disabled).active {
            background-color: initial;
            border-color: initial;
            box-shadow: none;
            color: initial;
        }

    }

    .btn-lg {
        font-size: 1.5rem;
        padding: 0.8rem 5rem;
    }

}