// Vertical align

@mixin vertical-align($absolute: false) {

    @if $absolute == true {
        position: absolute;
    } @else {
        position: relative;
    }
    top: 50%;
    transform: translateY(-50%);
}