<!-- COLORS AND BACKGROUND-->
<div class="box">

  <div class="alert alert-success notification-alert" *ngIf="copied">
    Copié dans le presse-papier avec succes !
  </div>

  <div class="row box-header justify-content-between">
    <div class="col-auto">
      <h2 class="box-title"><span class="anchor" id="colors"></span>CirclesLoader <span class="badge badge-success">COMPONENT</span></h2>
    </div>

  </div>

  <div class="row box-content">

    <section class="col-12">

      <table class="table table-bordered table-description">

        <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td class="c-info">CirclesLoaderDirective</td>
        </tr>
        <tr>
          <th scope="row">Source</th>
          <td class="c-info">src/baseBtl/base/directives/circles-loader.directive.ts</td>
        </tr>
        <tr>
          <th scope="row">Module</th>
          <td class="c-info">BaseModule</td>
        </tr>
        </tbody>
      </table>
      <div class="module-description">
        <p>Loader coloré de base du site.</p>
      </div>
    </section>

    <section class="col-12">
      <h3 class="title-description">Démonstration</h3>
      <div class="showcase text-align-center">
        <div circlesLoader [size]="'lg'" class="text-align-center"></div>
      </div>
    </section>

    <section class="col-12">
      <h3 class="title-description">Comment l'utiliser</h3>
      <p>
        Appliquer la directive <span class="showcase-code danger">circlesLoader</span> à un container : <span class="showcase-code">&lt;div <span class="directive">circlesLoader</span> <span class="attr">[size]</span>=<span class="string">"'lg'"</span>&gt;&lt;/div&gt;</span>.
      </p>
      <p>
        Cette directive accepte en paramètre l'attribut <span class="showcase-code primary">[size]</span> permettant de changer la taille du loader (par défaut à <span class="showcase-code warning">'xs'</span>).
      </p>
      <table class="table table-bordered table-description">
        <tbody>
        <tr>
          <th scope="row">Size <span class="showcase-code primary">[size]</span><br><em class="type">string</em></th>
          <td *ngFor="let size of sizes" class="text-align-center">{{size}}</td>
        </tr>
        <tr>
          <th scope="row">Résultat :</th>
          <td *ngFor="let size of sizes" class="text-align-center">
            <div circlesLoader [size]="size"></div>
          </td>
        </tr>
        <tr>
          <th scope="row">Cliquer pour copier :</th>
          <td *ngFor="let size of sizes" class="text-align-center">
            <button role="button" (click)="copyToClipboard(size)" class="btn btn-primary">Copier en taille '{{size}}'</button>
          </td>
        </tr>
        </tbody>
      </table>
    </section>

  </div>
</div>