@import '../scss/bootstrap/scss/functions';
@import '../scss/bootstrap/scss/variables';
@import '../scss/custom';

.header {

}
.content {

  background-color: #ececec;
  min-height: 50rem;
  padding-bottom: 2rem;
}

.footer {

  border-top: $silver-nobel .1rem solid;
  padding: 1rem;
}