// The path "/skin/frontend/angular-2/web/src/assets/fonts/" is temporary hack, it should be "../assets/fonts" instead

@font-face {
    font-family: 'open_sans_regular';
    src: url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semibold';
    src: url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/skin/frontend/angular-2/web/src/assets/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}
