@import '../../../../scss/bootstrap/scss/functions';
@import '../../../../scss/bootstrap/scss/variables';
@import '../../../../scss/custom';

@import '../../../../scss/bootstrap/scss/utilities/sizing';

@import "../../../../scss/bootstrap/scss/mixins";
@import "../../../../scss/bootstrap/scss/tables";

.showcase {

    align-items: baseline;
    display: flex;
    justify-content: center;
    width: 100%;
}
.text-align-center {
    text-align: center;
}
