<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Page des Forfaits</h1>
        <p class="lead">Recréer les pages forfaits du site. Sensation, B&You, FAIM et renouvellement. <a class="link" href="https://www.bouyguestelecom.fr/forfaits-mobiles/forfaits-sans-engagement">Voir ici.</a></p>
        <p class="lead">Une étude doit être faite au préalable concernant les performances SEO et sur la façon d'intégrer cette page au mieux. Doit-on toujours utiliser le productList ? Doit-on charger le catalogue sur cette page ? </p>
        <hr class="my-4">
        <p><strong>Compétences :</strong></p>
        <ul>
            <li>Intégration des slides et du carousel <span class="badge badge-primary">INTE</span> <span class="badge badge-secondary">DEV</span></li>
            <li>Dynamisation Angular 4 <span class="badge badge-secondary">DEV</span></li>
            <li>Intégration du prix <span class="badge badge-primary">INTE</span></li>
            <li>Développement de la directive prix <span class="badge badge-secondary">DEV</span></li>
            <li>Développement d'une directive permettant d'intégrer des SVG (btl-svg) <span class="badge badge-secondary">DEV</span></li>
        </ul>
    </div>
</div>
