// Mixin for icons - 
// Generate a width and height for .icon-item and .icon, 
// and optionnaly fix the vertical alignement

@mixin icons-align($width: 25px, $height: $width) { 
// $height is optionnal, if so equal to width
  
	.icon-item {
        height: $width;
        position: relative;
	}

	/deep/ .icon {
	    height: $width;
        width: $height;
	}

}