.breadcrumb {

    .mb-breadcrumbs {

        margin-bottom: 1rem;
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
        width: 100%;

        @include media-breakpoint-down(sm) {
            border-bottom: 1px solid $silver-nobel;
        }
        
        @include media-breakpoint-up(sm) {
            padding-top: 1.8rem;
        }

        .breadcrumb-arrow {

            margin-left: 0.4rem;
            margin-right: 0.5rem;

            /deep/ .icon {

                fill: $brand-secondary;
                height: 2rem;
                width: 2rem;
            }
        }

    }

    .breadcrumb-step {
        color: $text-color;
    }

}