<!-- Search -->
<!--<form class="form-search">
    <label class="sr-only">Recherche...</label>
    <input class="form-control form-control-lg" type="search" placeholder="Recherche..." aria-label="Search">
</form>-->

<nav class="nav-vertical">
    <h2 class="title-section">Documentation</h2>

    <ul class="feature-wrapper">

        <li class="feature-item" (click)="setSectionKey('component-css')">

            <h3 class="title-item" [ngClass]="{'expanded': getSectionKey() === 'component-css'}">
                <span>Composants CSS</span>

                <i class="icon-item">
                    <span btlSvg defsFolder="web" file="cart-defs" name="shape-icon-arrow-r" class="icon s-arrow-r"></span>
                </i>
            </h3>

            <ul class="sub-feature" [ngClass]="{'expanded': getSectionKey() === 'component-css'}">

                <li class="sub-item">
                    <a class="page" [routerLink]="['/css-components/buttons']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}">Boutons</a>
                </li>

                <li class="sub-item">
                    <a class="page" [routerLink]="['/css-components/forms']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}">Formulaires</a>
                </li>
            </ul>
        </li>

        <li class="feature-item" (click)="setSectionKey('angular')">

            <h3 class="title-item" [ngClass]="{'expanded': getSectionKey() === 'angular'}">
                <span>Angular</span>

                <i class="icon-item">
                    <span btlSvg defsFolder="web" file="cart-defs" name="shape-icon-arrow-r" class="icon s-arrow-r"></span>
                </i>
            </h3>

            <ul class="sub-feature" [ngClass]="{'expanded': getSectionKey() === 'angular'}">

                <li class="sub-item">
                    <!--<a class="page" [routerLink]="['/directives']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Directives</a>-->
                    <h3 class="title-sub-item">Directive</h3>

                    <ul class="sub-sub-feature">
                        <li>
                            <a class="page" [routerLink]="['/directives/btl-svg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}">BtlSvg</a>
                        </li>

                        <li>
                            <a class="page" [routerLink]="['/directives/circles-loader']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CirclesLoader</a>
                        </li>
                    </ul>
                </li>

                <li class="sub-item">
                    <!--<a class="page" [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Components</a>-->
                    <h3 class="title-sub-item">Composants</h3>

                    <ul class="sub-sub-feature">
                        <li>
                            <a class="page" [routerLink]="['/components/btl-price']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}">BtlPriceComponent</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h2 class="title-section">Outils</h2>

    <ul class="tools-wrapper">

        <li>
            <a class="tools-item" [routerLink]="['/tools/svg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Liste des SVG</a>
        </li>

        <li>
            <a class="tools-item" [routerLink]="['/tools/generator']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Générateur de template de code</a>
        </li>

        <li>
            <a class="tools-item" href="http://local.angularninja/" target="_blank">Formation Angular</a>
        </li>
    </ul>
</nav>