@import '../../../scss/bootstrap/scss/functions';
@import '../../../scss/bootstrap/scss/variables';

@import '../../../scss/custom';

@import "../../../scss/bootstrap/scss/mixins";
@import "../../../scss/bootstrap/scss/navbar";


.nav-wrapper{

    background-color: $brand-info;
    padding: .5rem 0;

    .nav-link {
        border: transparent .1rem solid;
        color: $white !important;
        padding: 0 1rem;

        &.router-link-active {
            border: $white .1rem solid
        }
    }
}