@import '../../../scss/bootstrap/scss/functions';
@import '../../../scss/bootstrap/scss/variables';

@import '../../../scss/custom';

@import "../../../scss/bootstrap/scss/mixins";

.nav {

    padding: 1rem;
    position: sticky;
    top: 4.6rem;
    width: 30rem;
}