<nav class="nav">
     <h2>Documentation</h2>

    <ul class="">
        <li>
            <h3>Composants CSS</h3>
            <ul>
                <li class="nav-item active">
                    <a [routerLink]="['/showcase']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}" class="nav-link">Showcase</a>
                </li>
            </ul>
        </li>

        <li>
            <h3>Angular</h3>
            <ul>
                <li class="nav-item">
                    <a [routerLink]="['/directives']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Directives</a>
                    <ul>
                        <li>
                            <a [routerLink]="['/directives/btl-svg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}" class="nav-link">BtlSvg</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/directives/circles-loader']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link">CirclesLoader</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Components</a>

                    <ul>
                        <li>
                            <a [routerLink]="['/components/btl-price']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:false}" class="nav-link">BtlPriceComponent</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>Outils</h3>
            <ul>
                <li class="nav-item">
                    <a [routerLink]="['/svg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link">SVG</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>