<div class="box">
    <div class="alert alert-success notification-alert" *ngIf="copied">
        Copié dans le presse-papier avec succes !
    </div>
    <div class="box-header justify-content-between">
        <div class="col-auto">
            <h2 class="box-title">Générateur de code HTML pour la doc</h2>
        </div>

    </div>

    <div class="box-content">

        <section>
            <h3>Input :</h3>
            <textarea class="input-code-area" [formControl]="inputCode" placeholder="Collez du code HTML" rows="20"></textarea>
            <p class="button-wrapper">
                <button role="button" class="btn btn-primary btn-lg" (click)="generateCode(inputCode.value)" [disabled]="!inputCode.value">Générer</button>
            </p>
        </section>
        <section *ngIf="outputCode">
            <hr />
            <h3>Output :</h3>
            <div class="view-code" >
                <pre class="showcase-code highlight" [innerHTML]="outputCode"></pre>
            </div>
            <p class="button-wrapper">
                <button role="button" class="btn btn-primary btn-lg" (click)="copyCode(outputCode)">Copier le code généré</button>
            </p>
        </section>
    </div>

</div>