// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
// [1] Root font-size is now 10px and ease rem to px convertions;
// 17px => 1.7rem (62.5%)

// Colors
$white: #fff !default;
$black: #000 !default;
$body-color: #454545;
$mine-shaft: lighten(#000, 20%) !default; // #333 old : $gray-dark
$silver-chalice: #454545 !default; // #555
$silver-nobel: #b5b5b5 !default; // #999
$silver-mercury: #ececec !default; // #eee
$silver-boulder: #7D7D7D;
$alto: #dbdbdb !default;
$alabaster: #f7f7f7 !default;
$christine: #ea5b0c !default;
$candy-apple-red: #f80707 !default; // red

$brand-primary: #c8007b;
$brand-secondary: #0055a4;
$brand-success: #05d0a6;
$brand-info: #009dcc;

$brand-warning: #ff9966;
$brand-danger: #fb004c;
$brand-customer: $brand-success !default;
$brand-byou-b: #00b5de !default;
$brand-byou-y: #007dc5 !default;
$brand-byou-o: #39bdab !default;
$brand-byou-u: #00b25a !default;
$brand-pro: #583273 !default;
$text-color: $body-color !default;

$lighter-gray: #e1e1e1 !default;
$fade-grey: #d5d5d5 !default;
$filter-light-grey: #bfbfbf !default;
$alt-light-gray: #cdcdcd !default;
$flat-gray: #e9e9e9 !default;
$gallery-gray: $silver-mercury !default;
$concrete-gray: #f3f3f3 !default;

$dark-violet: #583273 !default;
$royal-violet: #9e358c !default;

$french-rose: #f64b7f !default;
$trendy-pink: #927aa4 !default;

$lighter-green: #9fcf01 !default;
$rotten-green: #9dc90d !default;
$haze-green: #009a75 !default;
$regular-green: #06c303 !default;
$emerald-green: #66cc99 !default;

$bright-yellow: #f2d500 !default;

$lochmara-blue: #0087c0 !default;

$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;

// Font size
$browser-font-size-base: 16px; //This is considered as all browser default font size;
$font-family-sans-serif: 'open_sans_regular', Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$open-sans-bold: 'open_sans_bold', Arial, sans-serif !default;
$open-sans-semibold: 'open_sans_semibold', Arial, sans-serif !default;
$open-sans-light: 'open_sans_light', Arial, sans-serif !default;
$font-size-sm: 0.75rem !default; // 12px
$font-size-md: 1rem !default; // 16px

$line-height-base: 1.428571429;

$font-size-h1: 1.750rem !default; //24px
$font-size-h2: 1.375rem !default; //22px
$font-size-h3: 1.250rem !default; //20px
$font-size-h4: 1.125rem !default; //18px
$font-size-h5: 0.875rem !default; //14px
$font-size-h6: 0.750rem !default; //12px

$small: 85% !default;

// Body
$body-bg: $concrete-gray !default;

// Borders
$border-radius-base: 3px !default;
$btn-border-radius-lg: $border-radius-base !default;
$btn-border-radius-sm: $border-radius-base !default;
$input-border-color: #eaeaea !default;

// Input
$input-height: 40px !default;
$input-line-height: 1.3rem !default;
$input-padding-y: .875rem !default;
$input-color-placeholder: $silver-chalice !default;

// Buttons
$btn-padding-y-lg: 1rem !default;
$btn-padding-x-md: 0.75rem !default;
$btn-padding-y-md: 0.75rem !default;
$btn-line-height: 1rem !default;
$btn-default-color: $silver-chalice !default;
$btn-default-bg: $white !default;
$btn-default-border: #ccc !default;
$btn-secondary-color: $white !default;
$btn-secondary-bg: $silver-chalice !default;
$btn-secondary-border: $btn-secondary-bg !default;
$btn-info-border: $brand-info !default;
$btn-success-border: $brand-success !default;
$btn-warning-border: $brand-warning !default;
$btn-danger-border: $brand-danger !default;

// Loader
$tory-blue: #f29c98;
$java: #f5b697;
$keppel: #f5e797;
$forest-green: #a2e4f5;
$la-rioja: #009dd3;
$ripe-lemon: #47f086;
$mandy: #43805a;
$rouge: #c5516f;

$loader-colors-list: $tory-blue, $java, $keppel, $forest-green, $la-rioja, $ripe-lemon, $mandy, $rouge;
$loader-wrapper-size: 15rem;
$loader-size: 3rem;
$loader-count: 8;

$loader-radius: 50%;
$loader-aniamtion-duration: 0.7s;

// Transitions
$default-transition: all 0.15s ease-in-out;

$theme-colors: (
    default: $silver-chalice,
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    light: $gray-100,
    dark: $gray-800
);

$link-color: theme-color('secondary');

/* Spacing converted to fit font size base
 * All values below are imported from default BS variables
 * ==================================== */

$default-root-font-size: 62.5%;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: rootFontSize(1rem);
//$spacer: 1rem;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: .25rem;
$border-radius-lg: rootFontSize(.3rem);
$border-radius-sm: rootFontSize(.2rem);

$caret-width: rootFontSize(.3em);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2rem;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xlg: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 560px,
    md: 740px,
    lg: 960px,
    xl: 1160px,
    xlg: 1360px
);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-enable value-keyword-case

$font-size-base: 1.4rem; // Assumes the browser default, typically `16px`
// $font-size-base:              rootFontSize(1rem); @TODO: Fix undefined operation ERROR

$font-size-sm: ($font-size-base * .875);
$font-size-lg: ($font-size-base * 1.25);

$display1-size: rootFontSize(6rem);
$display2-size: rootFontSize(5.5rem);
$display3-size: rootFontSize(4.5rem);
$display4-size: rootFontSize(3.5rem);

$mark-padding: rootFontSize(.2em);

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y: rootFontSize(.375rem);
$input-btn-padding-x: rootFontSize(.75rem);

$input-btn-focus-width: rootFontSize(.2rem);

$input-btn-padding-y-sm: rootFontSize(.25rem);
$input-btn-padding-x-sm: rootFontSize(.5rem);

$input-btn-padding-y-lg: rootFontSize(.5rem);
$input-btn-padding-x-lg: rootFontSize(1rem);

$btn-block-spacing-y: rootFontSize(.5rem);

// Forms

$form-text-margin-top: rootFontSize(.25rem);

$form-check-margin-bottom: rootFontSize(.5rem);
$form-check-input-gutter: rootFontSize(1.25rem);
$form-check-input-margin-y: rootFontSize(.25rem);
$form-check-input-margin-x: rootFontSize(.25rem);

$form-check-inline-margin-x: rootFontSize(.75rem);

$form-group-margin-bottom: rootFontSize(1rem);

$custom-control-gutter: rootFontSize(1.5rem);
$custom-control-spacer-y: rootFontSize(.25rem);
$custom-control-spacer-x: rootFontSize(1rem);

$custom-control-indicator-size: rootFontSize(1rem);
$custom-control-indicator-box-shadow: inset 0 rootFontSize(.25rem) rootFontSize(.25rem) rgba($black, .1);

$custom-select-padding-y: rootFontSize(.375rem);
$custom-select-padding-x: rootFontSize(.75rem);

$custom-select-indicator-padding: rootFontSize(1rem); // Extra padding to account for the presence of the background-image based indicator

$custom-file-width: rootFontSize(14rem);
$custom-file-focus-box-shadow: 0 0 0 rootFontSize(.075rem) $white, 0 0 0 rootFontSize(.2rem) theme-color("primary");

$legend-border-color: #e5e5e5 !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: rootFontSize(10rem);
$dropdown-padding-y: rootFontSize(.5rem);
$dropdown-spacer: rootFontSize(.125rem);

$dropdown-box-shadow: 0 rootFontSize(.5rem) rootFontSize(1rem) rgba($black, .175);

$dropdown-item-padding-y: rootFontSize(.25rem);
$dropdown-item-padding-x: rootFontSize(1.5rem);

// Navs

$nav-link-padding-y: rootFontSize(.5rem);
$nav-link-padding-x: rootFontSize(1rem);

// Navbar

$navbar-toggler-padding-y: rootFontSize(.25rem);
$navbar-toggler-padding-x: rootFontSize(.75rem);

// Pagination

$pagination-padding-y: rootFontSize(.5rem);
$pagination-padding-x: rootFontSize(.75rem);
$pagination-padding-y-sm: rootFontSize(.25rem);
$pagination-padding-x-sm: rootFontSize(.5rem);
$pagination-padding-y-lg: rootFontSize(.75rem);
$pagination-padding-x-lg: rootFontSize(1.5rem);

// Jumbotron

$jumbotron-padding: rootFontSize(2rem);

// Cards

$card-spacer-y: rootFontSize(.75rem);
$card-spacer-x: rootFontSize(1.25rem);

$card-img-overlay-padding: rootFontSize(1.25rem);

$card-columns-gap: rootFontSize(1.25rem);

//== Tooltips
//
//##

//** Tooltip max width
$tooltip-width: 260px;
$tooltip-max-width: 260px;
//** Tooltip text color
$tooltip-color: $white;
//** Tooltip background color
$tooltip-bg: $black;
$tooltip-arrow-bg: $tooltip-bg;
$tooltip-opacity: 1; // Formely .9
$tooltip-arrow-border-color: $brand-secondary;

//** Tooltip arrow width
// $tooltip-arrow-width:         1rem;
// $tooltip-arrow-border:        0.1rem;
// $tooltip-padding:             1.5rem;
// $tooltip-padding-x:           1.5rem;
// $tooltip-padding-y:           1.5rem;
//** Tooltip arrow color
$tooltip-arrow-color: $tooltip-bg;

// Popovers

$popover-box-shadow: 0 rootFontSize(.25rem) rootFontSize(.5rem) rgba($black, .2);

$popover-header-padding-y: rootFontSize(.5rem);
$popover-header-padding-x: rootFontSize(.75rem);

$popover-arrow-width: rootFontSize(.8rem);
$popover-arrow-height: rootFontSize(.4rem);

// Badges

$badge-padding-y: rootFontSize(.25em);
$badge-padding-x: rootFontSize(.4em);

$badge-pill-padding-x: rootFontSize(.6em);
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius: rootFontSize(10rem);

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: rootFontSize(.75rem);
$alert-padding-x: rootFontSize(1.25rem);
$alert-margin-bottom: rootFontSize(1rem);

// Progress bars

$progress-height: rootFontSize(1rem);

$list-group-item-padding-y: rootFontSize(.75rem);
$list-group-item-padding-x: rootFontSize(1.25rem);

// Image thumbnails

$thumbnail-padding: rootFontSize(.25rem);

// Breadcrumbs

$breadcrumb-padding-y: rootFontSize(.75rem);
$breadcrumb-padding-x: rootFontSize(1rem);
$breadcrumb-item-padding: rootFontSize(.5rem);

$breadcrumb-margin-bottom: rootFontSize(1rem);

// Code

$code-padding-y: rootFontSize(.2rem);
$code-padding-x: rootFontSize(.4rem);
