@import 'font-face';
@import "../scss/bootstrap/scss/bootstrap-reboot"; // Function and Variables are included here
@import "../scss/utils/typography"; // [2]

@import '../scss/custom';

@import "../scss/mixins/alignment-on-circle";
@import "../scss/components/circles-loader";
@import "../scss/components/action-feedback";

@import "../scss/bootstrap/scss/tooltip";
@import "../scss/bootstrap/scss/grid";
@import "../scss/bootstrap/scss/utilities/flex";
@import "../scss/bootstrap/scss/transitions";
@import "../scss/bootstrap/scss/media";

@import "../scss/bootstrap/scss/dropdown"; // [1]
@import "../scss/bootstrap/scss/button-group";
@import "../scss/bootstrap/scss/buttons";
@import "../scss/bootstrap/scss/forms";
@import "../scss/bootstrap/scss/jumbotron";
@import "../scss/bootstrap/scss/modal";
@import "../scss/bootstrap/scss/alert";
@import "../scss/bootstrap/scss/badge";
@import "../scss/bootstrap/scss/utilities/position";

@import '../scss/bootstrap/scss/utilities/sizing';

// Cancel all bold font-weight on title tags
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

html,
body {

    min-height: 100%;
}

html {

    font-size: $default-root-font-size;
}

body {
    color: $text-color;
    background: $silver-mercury;
    font-family: $font-family-base;
    font-size: $font-size-base;
}

pre {
    width: 100%;
}

// box white
.box-header,
.box-content {

    background-color: $white;
}

.box-header {

    border-bottom: 2px solid $fade-grey;
    margin-bottom: .2rem;
    position: sticky;
    top: 5.1rem;
    z-index: 5;
}

.box-content {

    .title-section {

        font-size: 2.2rem;
        font-weight: 700;
    }

    .section-component {
        margin-bottom: 4rem;
    }
}

.code-wrapper {

    position: relative;

    .btn-copy {

        color: #818a91;
        cursor: pointer;
        font-family: monospace;
        font-size: 1.5rem;
        opacity: 0.7;
        position: absolute;
        right: 5px;
        top: 8px;
    }
}

.view-code {

    border: 3px solid #f7f7f9;

    .highlight {

        margin: 0;
        padding: 2rem;
    }
}

.showcase-code {

    background: #f7f7f9;
    border-radius: .3rem;
    color: $brand-secondary;
    font-family: Menlo, Courier;
    font-size: $font-size-base;
    padding: .3rem;

    &+& {
        margin-left: .5rem;
    }

    // color view code
    .c-info,
    .c-attr,
    &.info
    {
        color: $brand-info;
    }

    .c-value,
    &.primary {
        color: $brand-primary;
    }

    .c-string {
        color: $black;
    }

    .c-string-value,
    &.warning{
        color: $brand-warning;
    }

    .c-directive,
    &.danger{
        color: $brand-danger;
    }

    .c-component,
    &.success{
        color: $brand-success;
    }
}

.jumbotron {
    background-color: $silver-mercury;
    font-size: $font-size-lg;
}
.icon-item {

    display: inline-block;

    .icon {
        fill: $brand-secondary;
        height: 6.4rem;
        width: 6.4rem;
    }

}

.far-away{
    left: -9999px;
    position: absolute;
}




/deep/

.demo {

    > * {

        background: $silver-mercury;
        margin-bottom: 1.5rem;
        outline: $silver-nobel .1rem solid;
        padding: 1rem;
    }
}

.notification-alert {

    left: 50%;
    margin-left: -28rem;
    position: fixed;
    text-align: center;
    top: 7rem;
    width: 56rem;
    z-index: 9999;
}

.link{

    color: $brand-primary;
    border: .1rem solid transparent;
    padding: .2rem .5rem;

    &:hover{
        text-decoration: none;
    }

    &.active{
        border: .1rem solid $brand-primary;
    }
}

.box {

    .anchor {
        position: absolute;
        top: -9rem;
    }

    color: $silver-chalice;

    .box-header {

        background-color: $white;
        padding: 1.9rem 1.9rem 1.5rem;

        .box-title {
            font-size: 2.7rem;
        }
    }

    .box-content {
        background-color: $white;
        margin-top: .2rem;
        padding: 2rem 2rem 2rem;

        .content-title {
            margin-bottom: 3rem;
        }

        .buttons {

            .row {
                padding: 1.5rem 0;

                .dark {
                    border: .1rem solid $white;
                    background-color: $silver-mercury;
                    padding: 1rem 1.5rem;
                }
                .darker {
                    background-color: $silver-chalice;
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
    &+.box {
        margin-top: 3rem;
    }
}

.table-description {

    margin: 2rem auto 3rem;
    font-size: $font-size-lg;

    th {
        background-color: #f7f7f9;

        .type {
            font-weight: normal;

            &::after {
                content: ">";
                position: relative;
            }
            &::before {
                content: "<";
                position: relative;
            }
        }
    }

    td {
        vertical-align: middle !important;
    }
}

.title-description {

    border-bottom: 2px solid #f7f7f9;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    width: 100%;
}

.module-description {

    background-color: #f7f7f9;
    border: 1px solid $silver-nobel;
    border-radius: 0.6rem;
    font-size: $font-size-lg;
    margin-bottom: 4rem;
    padding: 2rem 2rem 1rem;
    text-align: center;
    width: 100%
}


/*.c-primary{
    color: $brand-primary;
}
.c-secondary{
    color: $brand-secondary;
}
.c-success{
    color: $brand-success;
}
.c-warning{
    color: $brand-warning;
}
.c-info{
    color: $brand-info;
}
.c-danger{
    color: $brand-danger;
}*/
